<div class="container">
    <div class="left-container">
        <img src="../../assets/logo.png" alt="logo">
    </div>
    <div class="right-container">
        <ul>
            <h2>Contact Us</h2>
            <li>
                <a href="tel:8138503222">(813)-850-3222 (For English)</a>
            </li>
            <li>
                <a href="tel:8135167080">(813)-516-7080 (For Spanish)</a>
            </li>
            <li>
                <a href="mailto:wedopavers@gmail.com">wedopavers@gmail.com</a>
            </li>
        </ul>
    </div>  
</div>