<div class="container">
    <button routerLink="/">Back To Home</button>
    <div class="info">
        <h2>What is Coping?</h2>
        <p>
            Experience the pinnacle of construction refinement with our meticulous coping, where walls and structures find a seamless, sophisticated finish. Elevate your spaces further with our exquisite tiles, crafted from premium materials like ceramic or stone, transforming surfaces into opulent canvases of both utility and aesthetic allure.
        </p>
    </div>
    <div class="image">
        <img src="{{images[4].image}}" alt="image">
    </div>
    <div class="expanded">
        <h2>Transform your Home Today!</h2>
    </div>
    <div class="image">
        <img src="{{images[5].image}}" alt="image">
    </div>
    <div class="image">
        <img src="{{images[3].image}}" alt="image">
    </div>


  
</div>