
.container {
    /* position: absolute;
    top: 95%; */
    /* background-color: #ce4e21; */
    width: 100%;
    height: 520px;
    /* left: 0; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

html {
    scroll-behavior: smooth;
}

.inner-container {
    width: 30%;
    height: 100%;
    background-color: #ce4e21;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    border-bottom-right-radius: 50px;
}


.inner-container2 {
    width: 70%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}
.inner-container2 h2 {
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 40px;
    padding: 1rem;
    font-weight: 200;
}

.inner-container2 h1 {
    font-weight: 200;
    margin: 0 auto;
    justify-content: left;
}
.inner-container3 {
    width: 70%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.line {
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.inner-container3 h2 {
    margin: 0 auto;
    margin-left: 10px;
    padding: 1rem;
    font-weight: 200;   
    margin-right: 40px;
}

.inner-container3 h1 {
    font-weight: 200;
    margin: 0 auto;

}

.inner-container4 {
    width: 40%;
    height: 50%;
    background-color: #ce4e21;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    border-top-left-radius: 50px;
}

@media screen and (max-width: 500px) {
    .inner-container {
        font-size: 15px;
        width: 100%;
        height: 80px;
        border-radius: 0;
    }

    .inner-container2 {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    .inner-container2 h2 {
        font-size: 20px;
    }
    .inner-container3 {
        width: 100%;
    }

.inner-container3 h2 {
    font-size: 20px;
}

.container {
    height: auto;
}


}

@media screen and (max-width: 1225px) {
    .inner-container {
        font-size: 15px;
        width: 100%;
        height: 80px;
        border-radius: 0;
    }

    .inner-container2 {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    .inner-container2 h2 {
        font-size: 20px;
    }
    .inner-container3 {
        width: 100%;
    }

.inner-container3 h2 {
    font-size: 20px;
}

.container {
    height: auto;
}

}