<div id="about" class="container">
    <div class="inner-container">
        <h1>About Us</h1>
    </div>
    <div class="inner-container2">
        <h1>Who We Are</h1>
        <div class="line"></div>
<h2>Welcome to "We Do Pavers", where the synergy of craftmanship and family values define our story. Founded by two brothers united by a passion for transforming outdoor spaces, our expertise lies in the artistry of paver installations. From driveways and pools to patios and walkways, we specialize in elevating the aesthetics and functionality of your surroundings. With meticulous attention to detail, we bring your outdoor visions to life, creating spaces that stand the test of time.</h2> 
    </div>
    <div class="inner-container3">
        <h1>What Makes Us Different</h1>
        <div class="line"></div>
        <h2 >At "We Do Pavers," we distinguish ourselves not just by what we do, but how we do it. Our commitment to quality and precision sets us apart, ensuring that every project is a testament to our dedication. Beyond our expertise in paver installations, we offer a comprehensive range of services designed to enhance and maintain your outdoor areas. Whether you seek transformative design or reliable upkeep, our team, rooted in the Tampa Bay area, is here to make your outdoor dreams a reality. Choose "We Do Pavers" for craftsmanship, reliability, and a touch of familial warmth that defines the essence of who we are.</h2>

    </div>
</div>

<!-- <h2>Welcome to "We Do Pavers", where the synergy of craftmanship and family values define our story. Founded by two brothers united by a passion for transforming outdoor spaces, our expertise lies in the artistry of paver installations. From driveways and pools to patios and walkways, we specialize in elevating the aesthetics and functionality of your surroundings. With meticulous attention to detail, we bring your outdoor visions to life, creating spaces that stand the test of time.</h2> -->


<!-- <h2>At "We Do Pavers," we distinguish ourselves not just by what we do, but how we do it. Our commitment to quality and precision sets us apart, ensuring that every project is a testament to our dedication. Beyond our expertise in paver installations, we offer a comprehensive range of services designed to enhance and maintain your outdoor areas. Whether you seek transformative design or reliable upkeep, our team, rooted in the Tampa Bay area, is here to make your outdoor dreams a reality. Choose "We Do Pavers" for craftsmanship, reliability, and a touch of familial warmth that defines the essence of who we are.</h2> -->

