<div class="form-container">
<form class="container">
    <div class="inner-container">
        <h2>When are you available?</h2>
        <input type="text" placeholder="i.e. Mon-Fri / 9am-5pm">
    </div>
    <div class="inner-container">
        <h2>How did you hear about us?</h2>
        <input type="text" placeholder="i.e. Google, Family, Friend">
    </div>
    <div class="inner-container">
        <h2>First Name</h2>
        <input type="text" placeholder="Enter your First Name">
    </div>
    <div class="inner-container">
        <h2>Last Name</h2>
        <input type="text" placeholder="Enter your Last Name">
    </div>
    <div class="inner-container">
        <h2>Email</h2>
        <input type="text" placeholder="Enter your Email Address">
    </div>
    <div class="inner-container">
        <h2>Phone Number</h2>
        <input type="text" placeholder="Enter your Phone Number">
    </div>
    <div class="inner-container">
        <h2>Address</h2>
        <input type="text" placeholder="Enter your Address">
    </div>
    <div class="inner-container">
        <h2>Description of Project</h2>
        <input class="description" type="text" placeholder="Enter description here">
    </div>

    <input class="button" type="submit">
</form>
</div>
