<div id="form" class="form-container">
<div class="container2">
    <h1>Transform your home today!</h1>
</div>
<form  [formGroup]="form" class="container" (submit)="send()">
    <!-- <h2 class="title">Contact Form</h2> -->
    <div class="inner-container">
        <h2>First Name</h2>
        <input formControlName="from_name" formControlName="first_name"  type="text" placeholder="Enter your First Name">
    </div>
    <div class="inner-container">
        <h2>Last Name</h2>
        <input formControlName="last_name"  type="text" placeholder="Enter your Last Name">
    </div>
    <div class="inner-container">
        <h2>Email</h2>
        <input formControlName="from_email"  type="text" placeholder="Enter your Email Address">
    </div>
    <div class="inner-container">
        <h2>Phone Number</h2>
        <input formControlName="phone_number"  type="text" placeholder="Enter your Phone Number">
    </div>
    <div class="inner-container">
        <h2>Address</h2>
        <input formControlName="address"  type="text" placeholder="Enter your Address">
    </div>
    <div class="inner-container">
        <h2>When are you available?</h2>
        <input formControlName="availability" type="text" placeholder="i.e. Mon-Fri / 9am-5pm">
    </div>
    <div class="inner-container">
        <h2>How did you hear about us?</h2>
        <input formControlName="hear" type="text" placeholder="i.e. Google, Family, Friend">
    </div>
    <div class="inner-container">
        <h2>Description of Project</h2>
        <textarea name="description" id="description" cols="30" rows="10" formControlName="description" class="description" placeholder="Enter description here">
            Enter description here
        </textarea>
    </div>
    <div class="button-container">
        <input class="button" type="submit" >
    </div>
    <div class="modal">
        <p>Thank you for your inquiry <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg></p>
        <p>A team member will review the information and get back to you within 24-48 hours</p>
    </div>
</form>
</div>
