
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1500px;
    width: 50%;
    background-color: white;
    outline: 1px solid black;
    border-radius: 30px;
    position: absolute;
    top: 10%;
    /* box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 1); */
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
    background-color: white;
    outline: 1px solid black;
    border-radius: 30px;
    position: absolute;
    top: 10%;
}

.show {
    display: block;
}

.dontShow {
    display: none;
}

.inner-container {
    margin: 10px;   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-container h2 {
    margin-left: 0;
    float: left;
}

.description {
    height: 50px;
}

.description::placeholder {
    position: absolute;
    left: 10px;
    top: 10px;
}

.button {
    border-radius: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: blue;
    transition: 0.3s ease-in-out;
}

.form-container {
    position: absolute;
    left: 0;
    background-color: lightgray;
    width: 100%;
    height: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 80%;
    padding: .8rem;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}

h2 {
    font-weight: 200;
}

@media screen and (max-width: 500px) {
    .container {
        width: 80%;
    }
}