
<div class="container">

    <div class="header">
        <h1 id="services">Services</h1>
    </div>

    <div  class="wrapper">

        <div [routerLinkActive]="'active'" routerLink="/paver" fragment="router" class="inner-container service1">
            <h2>Paver & Travertine</h2>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi numquam, non sapiente nihil maiores laborum voluptatum, rerum voluptate nobis expedita in, aliquid tenetur fuga consequatur alias repudiandae libero error iste.</p> -->
        </div>
        <div [routerLinkActive]="'active'" routerLink="/coping" fragment="router" class="inner-container service2">
            <h2>Coping & Tile</h2>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur excepturi illo earum quidem accusantium mollitia at porro voluptatibus ipsum necessitatibus deleniti, ut commodi accusamus rem reprehenderit ipsam alias quis similique.</p> -->
        </div>
        <div [routerLinkActive]="'active'" routerLink="/plaster" fragment="router" class="inner-container service3">
            <h2>Pool Plaster</h2>
            <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero vitae maiores error nostrum cupiditate eius molestias vel, qui explicabo aspernatur quisquam et repudiandae iste maxime ipsa deleniti quo dignissimos iusto!</p> -->
        </div>
    </div>

    

</div>